<div class="img_entry">
    <a href="{{ blog_entry.get_url_path() }}" >
        <img src="{{ blog_entry.entry_meta['img'] }}" class ="no-a"
             alt="{{ blog_entry.entry_meta['alt'] + '. Links to a blog post about this image.' }}">
    </a>
</div>