<a class="tearaway-entry" href="{{ blog_entry.get_url_path() }}">
    <img src="/resources/blog/blank_tearaway.png" alt="Tearaway calendar" class="no-a">
    <div>
        <span class="tearaway-month">{{ blog_entry.entry_meta["month"] }}</span>
        <span class="tearaway-day">{{ blog_entry.entry_meta["day"] }}</span>
        <span class="tearaway-year">{{ blog_entry.entry_meta["year"] }}</span>
        <span class="tearaway-teaser">{{ blog_entry.teaser }}</span>
    </div>
</a>