* {
    margin: 0;
    padding: 0;
}

html {
    background: lightpink;
}

#document-wrapper {
    cursor: none;
    height: 100vh;
    width: 100vw;
}

.menu-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px green;
    font-family: ArcadeClassic, serif;
    letter-spacing: 3px;
}

.menu-item {
    background: #47a2c2;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    width: 420px;
    font-size: 24pt;
}

.menu-item:hover {
    text-decoration: underline;
    background: #2e88a2;
}

@font-face {
    font-family: ArcadeClassic;
    src: url("/fonts/ARCADECLASSIC.TTF");
}

@font-face {
    font-family: DS-DIGI;
    src: url("/fonts/DS-DIGI.TTF");
}

@font-face {
    font-family: DS-DIGIB;
    src: url("/fonts/DS-DIGIB.TTF");
}

@font-face {
    font-family: DS-DIGII;
    src: url("/fonts/DS-DIGII.TTF");
}

@font-face {
    font-family: DS-DIGIT;
    src: url("/fonts/DS-DIGIT.TTF");
}

.menu-item-container {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: none;
}

.banana-bread {
    height: 35px;
    position: relative;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crow-cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    pointer-events: none;
    overflow: hidden;
    display: none;
}

#cockatoo {
    width: 300px;
    height: 160px;
    padding-left: 25px;
}

#background_wrapper {
    display: none;
    justify-content: space-between;
}

#left_bar {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#right_bar {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#cat {
    width: 300px;
    height: 160px;
    padding-right: 25px;
}

#inspect {
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 100;
    cursor: none;
}

.inspect-img {
    height: 80vh;
    width: 50vw;
}

#inspect_hint {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    font-family: ArcadeClassic, serif;
    color: white;
}

#photography-header {
    font-family: DS-DIGIB, serif;
    font-size: 35pt;
    padding: 10px 10px 10px 20px;
}

#tabs {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid white;
}

.tab-item {
    padding: 10px 10px 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 2px solid white;
    border-bottom: none;
    margin-left: 5px;
    font-family: DS-DIGIT, sans-serif;
    font-size: 18px;
}

.tab-item:hover {
    background: rgba(119, 77, 82, 0.3);
}

.gallery-photo {
    height: 250px;
}

.gallery-photo-entry {
    padding-top: 15px;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}