<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery Home</title>
    <link rel="stylesheet" href="/resources/styles.css">
</head>
<body>
    <h1 id="blog_header">Crownana blog</h1>
        {% for blog_entry in blog_entries %}
            <div class="blog_entry">
                {%  if 'thumb' in blog_entry %}
                    <img src="{{ blog_entry['thumb'] }}" alt="{{ blog_entry['alt'] }}">
                {% endif %}
                <a href="{{ blog_entry['href'] }}">
                    <h3 class="blog_entry_title">{{ blog_entry['title'] }}</h3>
                </a>
                <p class="blog_entry_teaser">{{ blog_entry['teaser'] }}</p>
            </div>
        {% endfor %}
    <script src="/resources/scripts/common.js"></script>
</body>
