<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery Home</title>
    <link rel="stylesheet" href="/resources/styles.css">
</head>
<body>
    <h1 id="photography-header">Crownana Photography</h1>
    <div id="tabs">
        {% for category_info in categories_info %}
            <a class="{{ 'tab-item tab-selected' if category_info['name'] == selected_category else 'tab-item' }}" href="{{ category_info['href'] }}">{{ category_info["name"] }}</a>
        {% endfor %}
    </div>
    <div id="photos">
        {% for img_entry in img_entries %}
            <div class="gallery-photo-entry">
                <img src="/resources/gallery/{{ img_entry['path'] }}" class="gallery-photo" alt="{{ img_entry['alt'] }}">
                {% if 'info_page' in img_entry %}
                    {% if img_entry['info_page'].startswith("/") %}
                        <a href={{img_entry['info_page']}}>
                    {% elif img_entry['info_page'].startswith("http") %}
                        <a href={{img_entry['info_page']}}>
                    {% else %}
                        <a href={{"/gallery/pages/" + img_entry['info_page'] }}>
                    {% endif %}

                        {{ img_entry['subtext'] }}
                    </a>
                {% else %}
                    <div>
                        {{ img_entry['subtext'] }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <script src="/resources/scripts/common.js"></script>
    <script src="/resources/scripts/gallery.js"></script>
</body>
</html>